/*  your css code here. If applicable */
.book-library{
	background-color:#ffffff;

}

.book{
	text-align:center;
}

.lft{
	text-align:left;
}

.button-color{
	background-color:#2ecc71;
	width:100%;
}

.auth-color{
	color:#777777;
}